@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3
    , #0073e6);
}
::selection{
    background: #1a75ff;
    color: #fff;
}
.wrapper{
    overflow: hidden;
    width: 25em;
    max-width: 35em;
    background: #fff;
    padding: 30px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title_text{
    display: flex;
    width: 200%;
}
.wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide_controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 15px;
}
.slide_controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide_controls label.signup{
    color: #000;
}
.slide_controls .slider_tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
    , #0073e6);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
    display: none;
}

.wrapper .form_container{
    max-width: 100%;
    overflow: hidden;
}
.form_container .form_inner{
    display: flex;
    width: 200%;
}
.form_container .form_inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form_inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form_inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.form_inner form .field input:focus{
    border-color: #1a75ff;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}
input[type="radio"]#signup:checked ~ .field {
    background-color: red;
}
.form_inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder{
    color: #1a75ff;
}
.form_inner form .pass_link{
    margin-top: 5px;
}
.form_inner form .signup_link{
    text-align: center;
    margin-top: 30px;
}
.form_inner form .pass_link a,
.form_inner form .signup_link a{
    color: #1a75ff;
    text-decoration: none;
}
.form_inner form .pass_link a:hover,
.form_inner form .signup_link a:hover{
    text-decoration: underline;
}
form .btn{
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
form .btn .btn_layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
    , #0073e6);
    border-radius: 15px;
    transition: all 0.4s ease;
}
form .btn:hover .btn_layer{
    left: 0;
}
form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}
.error {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #cc0033;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    padding: 1em;
    margin: auto;
    width:85%;
    height:fit-content;
    text-align: center;
}
