:root {
    --weather-height: 10em;
    --weather-height-expanded: 30em;
    --weather-container-padding: 30px;
}
@media only screen{
    .wrapper{
        overflow: hidden;
        width: 95vw;
        max-width: 95vw;
        background: #fff;
        padding: 30px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    }
}
@media only screen and (min-width: 850px){
    .wrapper{
        overflow: hidden;
        box-sizing: border-box;
        width: 50em;
        max-width: 50em;
        background: #fff;
        padding: 30px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    }
}

.subheading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.weatherContainer {
    width: 100%;
    height: calc(var(--weather-height) - (var(--weather-container-padding) + var(--weather-container-padding)));
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--weather-container-padding);
}

.expandedWeatherRow {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 0px;
}

.weatherListRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.weatherRowFill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.standardHeight {
    height: var(--weather-height);
}

.expandedHeight {
    height: var(--weather-height-expanded);
}

.informationBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hourlyWeatherBlock {
    padding-right: 1em;
}

.temperature {
    font-size: 3em;
    margin-top: -15px;
    margin-bottom: -15px;
}
.smallInformationText {
    font-size: 1em; 
}
.largeInformationText {
    font-size: 1.5em;
}
.padding{
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 1em;
    height: 1em;
}

.smallWeatherImage {
    margin-top: -35px;
    margin-bottom: -20px;
    width: 4em;
    height: 4em;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.expandButton:hover {
    cursor: pointer;
}