@media only screen{
    .wrapper{
        overflow: hidden;
        width: 95vw;
        max-width: 95vw;
        background: #fff;
        padding: 30px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0 15px 20px rgba(0,0,0,0.1);
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    }
}
@media only screen and (min-width: 850px){
    .wrapper{
        width: 50em;
        max-width: 50em;
    }
}
.field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn{
    height: 85%;
    width: 105%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.btn .btn_layer{
    height: 50%;
    width: 300%;
    position: relative;
    left: -100%;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
    , #0073e6);
    border-radius: 15px;
    transition: all 0.4s ease;
}
.btn:hover .btn-layer{
    left: 0;
}
.btn input[type="submit"]{
    height: 50%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}
.padding{
    padding-bottom: 1.5em;
}
.input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 1px solid #1a75ff;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
    color: #1a75ff;
    text-align: center;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.directions{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    padding-bottom: 1.5em;
}
.get{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.location{
    grid-column: span 4;
}
.map_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}