@media only screen{
    .wrapper{
        overflow: hidden;
        width: 95vw;
        max-width: 95vw;
        background: #fff;
        padding: 30px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0 15px 20px rgba(0,0,0,0.1);
    }
}
@media only screen and (min-width: 850px){
    .wrapper{
        width: 50em;
        max-width: 50em;
    }
}