@media only screen{
  .wrapper{
      overflow: hidden;
      width: 95vw;
      max-width: 95vw;
      background: #fff;
      padding: 30px;
      margin: auto;
      border-radius: 15px;
      box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
}
@media only screen and (min-width: 850px){
  .wrapper{
      width: 50em;
      max-width: 50em;
  }
}
.wrapper .title_text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.pass_link{
  flex-grow: 1;
  text-align: center;
  margin-top: 0.5em;
}
.pass_link a {
  color: #1a75ff;
  text-decoration: none;
}
.pass_link a:hover {
  text-decoration: underline;
}
.padding{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.headerBar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.item {
  -webkit-animation: fadein 1.0s linear forwards;
  animation: fadein 1.0s linear forwards;
  padding: 10px;
}
.itemfadeout{
  align-items: center;
  padding: 10px;
  -webkit-animation: fadeout .3s linear forwards;
  animation: fadeout .3s linear forwards;
}
  
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
  
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}