#email.incorrect {
    border-color: red;
    color: red;
}
.success {
    background-color: rgba(227, 253, 235, 1);
    border: 1px solid #DFF2BF;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #270;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    padding: 1em;
    margin: auto;
    width:85%;
    height:fit-content;
}
.error {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #cc0033;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    padding: 1em;
    margin: auto;
    width:85%;
    height:fit-content;
}